body {
    padding: 30px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-image: fixed;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#header {
    text-align: center;

}
h3 {
    text-align: center;
}

#selectFighter {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    align-content: center;
    content: attr(data-placeholder);
}

#myFighter,
#opponent {
    position: relative;
    /*border: 1px solid tan;*/
    height: 200px;

}

.card {
    position: relative;
    left: 20px;
    border: 1px solid goldenrod;
    background-color: black;
    width: 150px;
    height: 150px;
    margin: 2px;
    text-align: center;

}
img {
    max-width: 90%;
    max-height: 80%;
}

footer {
    text-align: center;
    border-top: 1px solid tan;
    margin-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}
