body {
    padding: 30px;
    background-image: url("../images/background2.png");
    background-repeat: repeat;
    background-size: cover;
    background-image: fixed;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#header {
    text-align: center;

}
h3 {
    text-align: center;
}

#selectFighter {
    width: 100%;
    margin: 0 auto;
    align-content: center;
    display: flex;
    justify-content: center;
    
}

#myFighter,
#opponent {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.card {
    position: relative;
    justify-content: center;
    border: 3px solid goldenrod;
    background-color: black;
    width: 150px;
    height: 150px;
    margin: 2px;
    text-align: center;

}
img {
    max-width: 90%;
    max-height: 80%;
}

.actionButtons {
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#gameRules {
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    border-top: 1px solid tan;
    margin-top: 10px;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: black
}
